{% extends 'base.html' %}

{% load static %}

{% block stylesheets %}
        {% include 'adminlte/lib/_styles.html' %}
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{% static 'css/img.css' %}">
{% endblock %}


{% block content %}
<div class="imgbox">
    <img class="center-fit" src="{% static 'img/back.png' size=120%}" alt="Architecture">
</div>
<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

    <!-- About Section -->
    <div class="w3-container w3-padding-32 " id="about">
      <h2 class="w3-border-bottom w3-border-light-grey w3-padding-16">Sobre ComLab</h2>
      <p> Hoy en día, con la llegada de las nuevas consecuencias económicas causadas por la crisis del coronavirus, nuestra principal inspiración surgió en cómo aumentar la eficiencia para reducir los costes de transacción en todos los negocios españoles.
        <br> ComLab ayuda al pequeño comercio a encontrar mayoristas Españoles, que fabrican o producen lo que necesita.
        <br> Pr ejemplo, imagine una empresa que fabrica toallas sanitarias. Probablemente esté obteniendo la materia prima de alguna fábrica china, porque desconoce que cerca de él otra empresa produce el mismo material y quizás a mejor precio y calidad. Incrementar la economía interna de España siempre ha sido una misión importante, pero con la crisis económica provocada por el coronavirus, es aún más imprescindible. ComLab ayudará a esta empresa del ejemplo a contactar fácilmente con otras empresas ubicadas cerca de él que producen la materia prima que necesita.
      </p>
    </div>
  
    <div class="w3-row-padding w3-grayscale">
      <div class="w3-col l2 m4 w3-margin-bottom">
        <img src="{% static 'img/OriolAlas.jpg' size=100%}"  alt="Oriol Alàs" style="width:100%">
        <h3>Oriol Alàs</h3>
        <p class="w3-opacity">Developer</p>
        <!--<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>-->
        <p><a href="https://www.linkedin.com/in/oriolac/"class="w3-button w3-grey w3-block">Contact</a></p>
      </div>
      <div class="w3-col l2 m4 w3-margin-bottom">
        <img src="{% static 'img/AlbaLamas.jpg' size=100%}" alt="Jane" style="width:100%">
        <h3>Alba Lamas</h3>
        <p class="w3-opacity">Developer</p>
        <!--<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>-->
        <p><a href="https://www.linkedin.com/in/alba-lamas/"class="w3-button w3-grey w3-block">Contact</a></p>
      </div>
      <div class="w3-col l2 m4 w3-margin-bottom">
        <img src="{% static 'img/QuimPico.png' size=100%}" alt="Mike" style="width:100%">
        <h3>Quim Picó</h3>
        <p class="w3-opacity">Developer</p>
        <!--<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>-->
        <p><a href="https://www.linkedin.com/in/joaquim-pic%C3%B3-mora-9a290517b/"class="w3-button w3-grey w3-block">Contact</a></p>
      </div>
      <div class="w3-col l2 m4 w3-margin-bottom">
        <img src="{% static 'img/SergiSimon.jpg' size=100%}" alt="Dan" style="width:100%">
        <h3>Sergi Simon</h3>
        <p class="w3-opacity">Developer</p>
        <!--<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>-->
        <p><a href="https://www.linkedin.com/in/sergi-sim%C3%B3n-balcells-964b28195/"class="w3-button w3-grey w3-block">Contact</a></p>
      </div>
      <div class="w3-col l2 m4 w3-margin-bottom">
        <img src="{% static 'img/IanPalacin.png' size=100%}" alt="Dan" style="width:100%">
        <h3>Ian Palacín</h3>
        <p class="w3-opacity">Developer</p>
        <!--<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>-->
        <p><a href="https://www.linkedin.com/in/ian-palac%C3%ADn-aliana-99897518a/"class="w3-button w3-grey w3-block">Contact</a></p>
      </div>
    </div>
  
{% endblock %}